.style_icon i {

  float: left;
  transform: translate(9px, -25px)
}

.Loading {
  margin: 10px -33px 0px 0px !important;
}


.logoin{
    width: 79%;
    height: 70px;
    transform: scale(1.3);
}
.logoinsmal{
    transform: scale(3.5);
    width: 90%;
}
